body{
    display: block;
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    justify-content: center;
    align-items: center;
    color: lightyellow;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
nav .menu button{
    height: 20px;
    font-size: 20px;
    background: none;
    border: none;
    color: lightpink;
}
nav h1{
    font-size: 60px;
    color: rgb(156, 156, 156);
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
}
.menu a{
    display: flex;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.menu li{
    display: flex;
    text-align: center;
    font-size: 20px;
}

.search{
    justify-content: center;
    align-items: center;
    max-width: var(nav);
}



/* content */

main{
    display: flex;

    .content{
        width: fit-content;
        p{
            font-size: larger;
        }
    }
}

/* know-more */

.know-more{
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.know{
    align-items: center;
    justify-content: center;
}
