body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
nav .menu{
    .other{
        height: 20px;
        font-size: 20px;
        background: none;
        border: none;
    }
}
nav h1{
    font-size: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
}
.menu a{
    display: flex;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.menu li{
    display: flex;
    text-align: center;
    font-size: 20px;
    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
}

.search{
    justify-content: center;
    align-items: center;
    max-width: var(nav);
}

main{
    justify-content: center;
    align-items: center;
}



img{
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: blue;
}